doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='text/javascript', href='/scripts/metro.js')
    link(rel='text/javascript', href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    title #{title}
  body
    .header
      h1.page-title #{title}

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content
