doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='text/javascript', href='/scripts/metro.js')
    link(rel='text/javascript', href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/') Home
    .container.body-content
      block content
      